* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;}

html {
  scroll-behavior: smooth;
  


}
body {
  background-color: #161422;
  color: #ffffff;
  overflow-x: hidden;
}

.navegacao {
  position: fixed;
  background: rgba(30, 27, 56, 0.8) ;
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}
.menu {
  display: flex;
  justify-content: center;
list-style: none;
gap: 3rem   ;



}


.menu-link {
  text-decoration: none;
  color: #c9c7c7;
  font-weight: 500;
  position: relative;
  padding: 0.5rem;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #2516fc, #ff176c);
  transition: width 0.3s ease;
}

.menu-link:hover::after {
  width: 100%;
}
.fotoperfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #59cfe4;
  box-shadow: 0 0 20px #428899;

  
}
.cabecalho {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.25rem;
}
h1 {
  font-size: 3.5rem;
  color: #5fd3f0;
}
.cabecalho-subtitulo {
  font-size: 1.5rem;
  color: #345f70;
  margin-top: 0.5rem;
}
.sobre {
  padding: 6rem 2rem;
  
}
.sobre-titulo {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #81d6eb;
  text-align: center;
}
.sobre-sobre {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto; ;
  border-radius: 16px;
  border: 1px solid #3f4142d5;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05)
  
}
.sobre-paragrafo {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.projetos {
  padding: 6rem 2rem;
}
.projetos-caixa {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;


}
.projetos-imagem {
  height: 400 px;
  width: 100%;
  object-fit: cover;
}
.projetos-card {
  background-color: rgba(49, 56, 63, 0.301);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid #24252521;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}
.info-projeto {
 margin-bottom: 5px;
}
.paragrafos-projeto {
  color: rgba(255, 255, 255, 0.877);
  line-height: 1.25rem ;
}
.projetos-titulo {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
}
.projetos-card:hover {
 box-shadow: 0 10px 20px #1e8e968f;
 transform: translateY(-10px) scale(1.03);
}
.caixa-texto-projeto {
  padding: 1.5rem;
}

.contatos {
  padding: 6rem 2rem;
  text-align: center;
}
.contatos-titulo {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #d7edf3ea;
}
.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px) ;
  padding: 2rem;
  border: 1px solid rgb(67, 87, 88);
  border-radius: 16px;
}
.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color:#161422;
  border: 1px solid rgb(67, 87, 88);
  outline: none;

}
.campo-form:focus {
  border-color:#211b6b;
  box-shadow: 0 0 10px #322e6e;
}
.botao-form {
  color: antiquewhite;
  background: linear-gradient(45deg, #2516fc, #ff176c);
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s ease;
}
.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.04);
}